<div class="register-wrapper">
  @defer{
    <form data-testid="register-form" class="register-form" [formGroup]="registerForm"  (ngSubmit)="onSubmit()">
      <input data-testid="email-input" class="email-input" formControlName="email" name="email" type="email" placeholder="Email" pInputText />
      <input data-testid="user-name-input" class="user-name-input" formControlName="userName" name="userName" type="text" placeholder="UserName" pInputText />
      <p-password data-testid="password-input" class="password-input" formControlName="password" type="password" placeholder="Password" >
        <ng-template pTemplate="footer">
          <p-divider />
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>{{'app.register.password.lower' | translate}}</li>
            <li>{{'app.register.password.upper' | translate}}</li>
            <li>{{'app.register.password.numeric' | translate}}</li>
            <li>{{'app.register.password.minimum' | translate}}</li>
          </ul>
        </ng-template>
      </p-password>
      <p-button [disabled]="registerForm.invalid" type="submit">Sign Up</p-button>
    </form>
    <section class="back-to-login-section">
      <label>{{'app.register.login' | translate}}</label> <a routerLink="/login" >Login</a>
    </section>
  }
</div>
