@import "primeng/resources/themes/saga-green/theme.css";
@import "primeng/resources/primeng.css";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family), serif;
}

:root {
  /* fonts */
  --font-family: 'Roboto', sans-serif;

  /* colors */

  /* background */
  --background: radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.85), #141414), radial-gradient(ellipse at top, #00ff62, transparent), radial-gradient(ellipse at bottom, #0071a2, transparent);

}
